:root {
  --white: #fff;
  --black: #050609;
  --green: #62c370;
  --red: #c26161;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-width: 50vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.05);
  padding: 4rem;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-section {
  display: flex;
  margin: 2rem 0;
}

button,
input {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

button {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  white-space: nowrap;
}

#addBtn {
  background-color: var(--green);
  color: var(--white);
}

#addBtn:hover {
  background-color: #80e28f;
}

#clearBtn {
  background-color: var(--red);
  color: var(--white);
  border-radius: 0 5px 5px 0;
}

#clearBtn:hover {
  background-color: #d67f7f;
}

input {
  border-radius: 5px 0 0 5px;
  width: 100%;
  transition: ease-in-out 0.5s;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

li button {
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
}

li button:hover {
  background-color: #d67f7f;
}

p {
  color: var(--green);
  text-align: center;
  font-size: 18px;
}

@keyframes grow-li {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grow {
  animation-name: grow-li;
  animation-duration: 1s;
}

.invalid {
  background-color: #f0b8ca;
}

.practice {
}
